<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hot Girl</title>
        <style>
            hr {
                visibility: hidden
            }
            .div-nav {
                display: flex;
                width: 300px;
                justify-content: space-between;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="div-nav">
                <a href="#">Next</a>
                <a href="#">Previous</a>
            </div>
            <hr />
            <img src="images/1.jpg">
            <hr />
            <div class="div-nav">
                <a href="#">Like 10</a>
                <a href="#">Dislike 10</a>
            </div>
        </div>
    </body>
</html>